@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&display=swap%27');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Outfit;
    background-color: #0D192C;
}

main {
    background-color: #15263F;
    border-radius: 20px;
    width: 350px;
    height: 596px;
    box-sizing: border-box;
    padding: 24px;
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.10);
}

.img-equilibrium {
    display: block;
    width: 100%;
    border-radius: 8px;
}

.img-equilibrium:hover {
    opacity: 0.503021240234375;
}

.img-hover {
    border-radius: 8px;
    position: relative;
}

.img-hover:hover {
    background-color: #00FFF8;
}

.img-hover:hover::after {
    content: url('images/icon-view.svg');
    position: absolute;
    top: calc(50% - 24px);
    right: calc(50% - 24px);
    pointer-events: none;
}

a:hover {
    color: #00FFF8;
  }

.box-text {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
}

h1 {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
    padding-top: 8px;
}

.span-text {
    color:  #8BACD9;
    padding-top: 3px;
    padding-bottom: 24px;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}

.box-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    padding-right: 2px;
    position: relative;
}

.value {
    display: flex;
    align-items: center;
    color:  #00FFF8;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    gap: 7px;
}

.days {
    display: flex;
    align-items: center;
    color: #8BACD9;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    gap: 7px;
} 

hr {
    background-color: #2E405A;
    width: 100%;
    height: 1px;
    margin-top: 0em;
    margin-bottom: 0em;
    border: 0;
}

.creator {
    color: #8BACD9; 
    font-size: 16px;
    font-weight: 400;
    display: flex;
    gap: 16px;
}

.img-avatar {
    width: 33px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 33px;
    border: 1px solid var(--white, #FFF);
    margin-top: 16px;
    margin-bottom: 24px;
} 

.span-name {
    padding-top: 22px;
}

.name {
    color: #FFFFFF;
}
